@import "fonts_styles.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: url(../PHOTOS/Q3.jpg) no-repeat center center/cover;
}

* { color:#fff; text-decoration: none;}

.textdiv{
  margin-bottom: 520px;
}

.buttons {
  margin-top: 60px;
}

.Q3audio{
  position: absolute;
  top: 0;
}

#Q3Text {
  font-family: peach;
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
